<template>
<v-card elevation="12">

  <v-toolbar
    dark
    color="primary"
  >
    <v-toolbar-title>Sign up form</v-toolbar-title>
  </v-toolbar>

  <v-card-text>
    <v-form class="auth-login">
      <v-text-field
        v-for="item in formData"
        v-model="item.value"
        :type="item.type"
        :prepend-icon="item.icon"
        v-validate="item.validator"
        :error-messages="errors.collect(item.name)"
        :label="item.label"
        :placeholder="item.label"
        :data-vv-name="item.name"
        required
      ></v-text-field>
    </v-form>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      :loading="loading"
      :disabled="loading"
      color="primary"
      @click="submit($event)"
    >Sign Up</v-btn>
  </v-card-actions>

  <AuthSocial @success="data => registration(data)" />

</v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AuthSocial from '@/components/auth/AuthSocial'

export default {
  name: 'AuthSignup',

  components: {
    AuthSocial
  },

  data: () => ({
    formData: {
      // name: {
      //   name: 'name',
      //   label: 'Name',
      //   type: 'text',
      //   value: '',
      //   icon: 'person',
      //   validator: 'required|alpha|min:3',
      // },
      email: {
        name: 'email',
        label: 'E-mail',
        type: 'email',
        value: '',
        icon: 'email',
        validator: 'required|email',
      },
      password: {
        name: 'password',
        label: 'Password',
        type: 'password',
        value: '',
        icon: 'lock',
        validator: 'required|min:6',
      }
    }
  }),

  computed: {
    ...mapGetters({
      loading: 'auth/loading'
    })
  },

  methods: {
    ...mapActions({
      registration: 'auth/registration'
    }),

    submit(e) {
      e.preventDefault()

      this.$validator.validateAll()
        .then(result => {

          const email = this.formData.email.value
          const password = this.formData.password.value

          if (result) this.registration({ email, password })

        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>
.auth-login {}
</style>
