<template>
<div>

  <marquee
    behavior="alternate"
    direction="right"
    v-if="isVerificated === null"
  >
    <h1 class="display-1 font-weight-light font-italic warning--text">Loading...</h1>
  </marquee>

  <h1
    class="display-1 font-weight-light font-italic error--text"
    v-if="isVerificated === false"
  >You is already verificated !</h1>

  <h1
    class="display-1 font-weight-light font-italic success--text"
    v-if="isVerificated === true"
  >You successfully verificated your account !</h1>


  <v-btn
    :to="{ name: 'main' }"
    block
    large
    color="primary"
  >Home</v-btn>

</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AuthEmailVerification',

  data: () => ({
    isVerificated: null
  }),

  computed: {
    ...mapGetters({
      loading: 'auth/loading',
      user: 'auth/user'
    })
  },

  created() {
    this.verify(this.$route.params.hash)
      .then(response => this.isVerificated = response.data.success)
  },

  methods: {
    ...mapActions({
      verify: 'auth/verify'
    })
  }
}
</script>

<style lang="scss" scoped>
</style>
