<template>
<v-btn
  block
  color="red"
  dark
  @click="authenticate('google')"
>{{ text }}</v-btn>
</template>

<script>
import { UTILS_MIXINS_SOCIAL_AUTH } from "@/utils/mixins/UtilsMixinsSocialAuth";

export default {
  name: "AuthGoogle",

  mixins: [UTILS_MIXINS_SOCIAL_AUTH],

  props: {
    text: {
      type: String,
      default: "Google+"
    }
  }
};
</script>

<style scoped lang="scss">
.auth-google {}
</style>
