<template>
<v-card
  class="auth-forgot-password"
  elevation="12"
>

  <v-toolbar
    dark
    color="primary"
  >
    <v-toolbar-title>Forgot password ?</v-toolbar-title>
  </v-toolbar>

  <v-card-text>
    <v-form class="auth-login">
      <v-text-field
        v-for="item in formData"
        v-model="item.value"
        :type="item.type"
        :prepend-icon="item.icon"
        v-validate="item.validator"
        :error-messages="errors.collect(item.name)"
        :label="item.label"
        :placeholder="item.label"
        :data-vv-name="item.name"
        required
      ></v-text-field>
    </v-form>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      :loading="loading"
      :disabled="loading"
      color="primary"
      @click="submit($event)"
    >Reset password</v-btn>
  </v-card-actions>

</v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AuthForgotPassword',

  data: () => ({
    formData: {
      email: {
        name: 'email',
        label: 'E-mail',
        type: 'email',
        value: '',
        icon: 'email',
        validator: 'required|email',
      }
    }
  }),

  computed: {
    ...mapGetters({
      loading: 'auth/loading'
    })
  },

  methods: {
    ...mapActions({
      sendPasswordResetEmail: 'auth/sendPasswordResetEmail'
    }),

    submit(e) {
      e.preventDefault()

      this.$validator.validateAll()
        .then(result => {

          const email = this.formData.email.value

          if (result) this.sendPasswordResetEmail(email)

        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
