<template>
<v-card
  class="auth-password-reset"
  elevation="12"
>

  <v-toolbar
    dark
    color="primary"
  >
    <v-toolbar-title>Reset password form</v-toolbar-title>
  </v-toolbar>

  <v-card-text>
    <v-form>
      <v-text-field
        v-for="item in formData"
        :ref="item.ref"
        :type="item.type"
        :label="item.label"
        :prepend-icon="item.icon"
        :placeholder="item.label"
        :data-vv-name="item.name"
        :error-messages="errors.collect(item.name)"
        v-model="item.value"
        v-validate="item.validator"
        required
      />

    </v-form>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      :loading="loading"
      :disabled="loading"
      color="primary"
      @click="submit($event)"
    >Set new password</v-btn>
  </v-card-actions>

</v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AuthPasswordReset',

  data: () => ({
    formData: {
      password: {
        name: 'password',
        label: 'Password',
        type: 'password',
        value: '',
        icon: 'lock',
        validator: 'required|min:6',
        ref: 'password'
      },
      passwordConfirm: {
        name: 'password',
        label: 'Confirm password',
        type: 'password',
        value: '',
        icon: 'lock',
        validator: 'required|confirmed:password',
      }
    }
  }),

  computed: {
    ...mapGetters({
      loading: 'auth/loading'
    })
  },

  methods: {
    ...mapActions({
      setNewPassword: 'auth/setNewPassword'
    }),

    submit(e) {
      e.preventDefault()

      this.$validator.validateAll()
        .then(result => {

          const password = this.formData.password.value
          const hash = this.$route.params.hash

          if (result) this.setNewPassword({ password, hash })

        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>
.auth-password-reset {}
</style>
