<template>
<div class="auth-social">

  <div class="auth-social__or">
    <span>Or</span>
    <hr>
  </div>

  <AuthGoogle @success="data => $emit('success', data)" />
  <AuthFacebook @success="data => $emit('success', data)" />

</div>
</template>

<script>
import AuthGoogle from '@/components/auth/AuthGoogle'
import AuthFacebook from '@/components/auth/AuthFacebook'

export default {
  name: 'AuthSocial',

  components: {
    AuthGoogle,
    AuthFacebook
  },

  methods: {
    success(data) {
      console.log(data);
    }
  }
}
</script>

<style lang="scss" scoped>
.auth-social {
    padding: 0.5rem;

    &__or {
        margin-bottom: 1rem;

        text-align: center;
    }
}
</style>
