<template>
<v-btn
  block
  color="primary"
  dark
  @click="authenticate('facebook')"
>{{ text }}</v-btn>
</template>

<script>
import { UTILS_MIXINS_SOCIAL_AUTH } from "@/utils/mixins/UtilsMixinsSocialAuth";

export default {
  name: "AuthFacebook",

  mixins: [UTILS_MIXINS_SOCIAL_AUTH],

  props: {
    text: {
      type: String,
      default: "Facebook"
    }
  }
};
</script>

<style scoped lang="scss">
.auth-facebook {}
</style>
