<template>
<v-card
  class="auth-login"
  elevation="12"
>

  <v-toolbar
    dark
    color="primary"
  >
    <v-toolbar-title>Log in form</v-toolbar-title>
  </v-toolbar>

  <v-card-text>
    <v-form>
      <v-text-field
        v-for="item in formData"
        v-model="item.value"
        :type="item.type"
        :prepend-icon="item.icon"
        v-validate="item.validator"
        :error-messages="errors.collect(item.name)"
        :label="item.label"
        :placeholder="item.label"
        :data-vv-name="item.name"
        required
      ></v-text-field>

    </v-form>

    <v-btn
      :to="{ name: 'forgot-password'}"
      color="primary"
      small
      flat
    >Forgot password ?</v-btn>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      :loading="loading"
      :disabled="loading"
      color="primary"
      @click="submit($event)"
    >Log In</v-btn>
  </v-card-actions>

  <AuthSocial @success="data => login(data)" />

</v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AuthSocial from '@/components/auth/AuthSocial'

export default {
  name: 'AuthLogin',

  components: {
    AuthSocial
  },

  data: () => ({
    formData: {
      email: {
        name: 'email',
        label: 'E-mail',
        type: 'email',
        value: '',
        icon: 'email',
        validator: 'required|email',
      },
      password: {
        name: 'password',
        label: 'Password',
        type: 'password',
        value: '',
        icon: 'lock',
        validator: 'required|min:6',
      }
    }
  }),

  computed: {
    ...mapGetters({
      loading: 'auth/loading'
    })
  },

  methods: {
    ...mapActions({
      login: 'auth/login'
    }),

    submit(e) {
      e.preventDefault()

      this.$validator.validateAll()
        .then(result => {

          const email = this.formData.email.value
          const password = this.formData.password.value

          if (result) this.login({ email, password })

        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>
.auth-login {}
</style>
