<template>
<v-app>

  <AppHeader />

  <router-view />

  <v-footer class="pa-3">
    <v-spacer />
    <div>&copy; {{ new Date().getFullYear() }}</div>
    <v-spacer />
  </v-footer>

</v-app>
</template>

<script>
import { mapActions } from 'vuex'

import AppHeader from '@/components/app/AppHeader'

export default {
  name: 'App',

  components: {
    AppHeader
  },

  created() {
    this.getUserData()
  },

  methods: {
    ...mapActions({
      getUserData: 'auth/getUserData'
    })
  }
}
</script>

<style lang="scss">
@import './partials/global';

.droid {
    font-family: 'Droid Serif', serif;
}
</style>
