<template>
<v-content>

  <v-container class="layout-blog-post-pattern">
    <v-layout
      align-center
      justify-center
    >
      <v-flex class="xs12 sm8 md6">

        <v-img
          :src="imagePreview"
          v-if="imagePreview"
          max-height="300px"
        />

        <v-form>

          <input
            type="file"
            v-show="false"
            @change="handleFileUpload"
            id="layout-blog-post-pattern-upload"
          />

          <v-text-field
            v-model="form.title"
            label="Title"
            required
          />

          <v-textarea
            v-model="form.content"
            label="Content"
            required
          />

          <v-btn
            color="blue-grey"
            class="white--text ma-0"
            @click="uploadFile"
          >
            Upload
            <v-icon
              right
              dark
            >cloud_upload</v-icon>
          </v-btn>

          <v-btn
            color="primary"
            @click="beforeSendData"
            v-if="update"
          >
            Update
          </v-btn>

          <v-btn
            color="primary"
            @click="beforeSendData"
            v-else
          >
            Create
          </v-btn>

        </v-form>

      </V-flex>
    </v-layout>
  </v-container>

</v-content>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'LayoutBlogPostPattern',

  data: () => ({
    update: false,


    imagePreview: '',
    form: {
      image: '',
      title: '',
      content: ''
    }
  }),

  watch: {
    selectedPost(post) {

      if (!post) return

      const { image, title, content } = post

      this.form.title = title
      this.form.content = content
      this.imagePreview = this.form.image = image
    }
  },

  computed: {
    ...mapGetters({
      selectedPost: 'blog/selectedPost'
    })
  },

  created() {
    const router = this.$vueRouter.history.current
    const { id } = router.params

    if (id) {
      this.update = true
      this.getPostById(id)
    }
  },

  methods: {
    ...mapActions({
      getPostById: 'blog/getPostById',
      createPost: 'blog/createPost',
      updatePost: 'blog/updatePost'
    }),

    uploadFile() {
      document.getElementById('layout-blog-post-pattern-upload').click()
    },

    handleFileUpload(e) {
      const file = e.target.files[0]
      this.form.image = file

      const reader = new FileReader()
      reader.onload = () => this.imagePreview = reader.result
      reader.readAsDataURL(file)
    },

    beforeSendData() {
      const { image, title, content } = this.form

      const formData = new FormData()
      formData.append('image', image)
      formData.append('title', title)
      formData.append('content', content)

      if (this.update)
        this.updatePost({ id: this.selectedPost._id, form: formData })
      else
        this.createPost(formData)
    },

  }
}
</script>

<style lang="scss" scoped>
.layout-blog-post-pattern {
    img {}
    form {}
}
</style>
