<template>
<v-content class="layout-blog-list">

  <!-- <pre>{{ filters }}</pre> -->

  <v-progress-linear
    v-if="!allPosts"
    indeterminate
  />

  <v-container v-else>

    <v-layout>
      <v-flex class="xs8 offset-xs2">

        <BlogPostFilters />

      </v-flex>
    </v-layout>

    <v-layout v-if="allPosts.posts.length">
      <v-flex class="xs8 offset-xs2">

        <div class="layout-blog-list__posts">

          <BlogPost
            v-for="post in allPosts.posts"
            :post="post"
            :key="post._id"
          />

          <v-pagination
            @input="page => saveFilters({ page })"
            v-model="page"
            :length="allPosts.pages"
          />

        </div>

      </v-flex>
    </v-layout>

    <v-layout v-else>
      <v-flex class="xs8 offset-xs2">

        <div class="layout-blog-list__empty">

          <div class="layout-blog-list__empty-card">
            <span>No results found. Try to reset filters</span>
            <v-btn
              color="primary"
              @click="removeFilters"
            >Reset filters</v-btn>
          </div>

        </div>

      </v-flex>
    </v-layout>

  </v-container>

  <v-btn
    dark
    fixed
    right
    bottom
    color="green"
    :to="{ name: 'post-pattern' }"
    v-if="isAuthenticated"
  >Add post</v-btn>

  <v-btn
    left
    fixed
    bottom
    color="primary"
    @click="removeFilters"
  >Reset filters</v-btn>

</v-content>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import BlogPost from '@/components/blog/BlogPost'
import BlogPostFilters from '@/components/blog/BlogPostFilters'

export default {
  name: 'LayoutBlogList',

  components: {
    BlogPost,
    BlogPostFilters
  },

  data: () => ({
    page: null
  }),

  watch: {
    'filters.page': {
      handler(page) { this.page = +page || 1 },
      immediate: true
    }
  },

  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      allPosts: 'blog/allPosts',
      filters: 'blog/filters'
    })
  },

  created() {
    const router = this.$vueRouter.history.current
    const { query } = router

    if (Object.keys(router.query).length) this.saveFilters(query)
    else this.getAllPosts()
  },

  methods: {
    ...mapActions({
      getAllPosts: 'blog/getAllPosts',
      saveFilters: 'blog/saveFilters',
      removeFilters: 'blog/removeFilters'
    }),
  }

}
</script>

<style lang="scss" scoped>
@import '../partials/global';

.layout-blog-list {

    &__empty,
    &__empty-card,
    &__posts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__empty-card {

        padding: 1rem;

        font-size: 1.5rem;

        border: 2px dotted $color-primary;
        border-radius: 5px;

        span {
            margin-bottom: 1rem;
        }
    }

}
</style>
