<template>
<v-content v-if="selectedPost">

  <div class="layout-blog-post">

    <BlogPost
      big
      :post="selectedPost"
    />

  </div>

  <div class="layout-blog-comments">

    <BlogPostCommentsList :comments="selectedPost.comments" />

  </div>

</v-content>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import BlogPost from '@/components/blog/BlogPost'
import BlogPostCommentsList from '@/components/blog/BlogPostCommentsList'

export default {
  name: 'LayoutBlogPost',

  components: {
    BlogPost,
    BlogPostCommentsList
  },

  computed: {
    ...mapGetters({
      selectedPost: 'blog/selectedPost'
    })
  },

  created() {
    const id = this.$vueRouter.history.current.params.id
    this.getPostById(id)
  },

  methods: {
    ...mapActions({
      getPostById: 'blog/getPostById'
    })
  }

}
</script>

<style lang="scss" scoped>
.layout-blog-post {}
.layout-blog-comments {}
</style>
