<template>
<div>
  <v-content>
    <router-view />
  </v-content>

  <v-footer
    class="px-3"
    inset
    app
  >
    <v-spacer />
    <span>&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</div>
</template>

<script>
export default {
  name: 'LayoutMain',

  data: () => ({
    items: [
      { title: 'Home', icon: 'dashboard' },
      { title: 'About', icon: 'question_answer' }
    ],
  })
}
</script>

<style lang="scss" scoped>
</style>
