<template>
<v-container
  fluid
  class="layout-auth"
>

  <v-layout
    align-center
    justify-center
  >
    <v-flex class="xs12 sm8 md4">
      <router-view />
    </V-flex>
  </v-layout>

</v-container>
</template>

<script>
export default {
  name: 'LayoutAuth'
}
</script>

<style lang="scss" scoped>
.layout-auth {
    height: 100%;

    display: flex;
    align-items: center;
}
</style>
