<template>
<v-toolbar
  class="app-header"
  absolute
  app
>
  <v-toolbar-side-icon
    id="toolbar-side-icon"
    @click="checkServer"
  />
  <v-toolbar-title class="headline">
    <span>Blog</span>
    <span class="font-weight-light"> of mine</span>
  </v-toolbar-title>

  <v-spacer />

  <v-toolbar-items>
    <v-btn
      flat
      @click="beforeGoHome"
    >Home</v-btn>
  </v-toolbar-items>

  <v-toolbar-items v-if="!isAuthenticated">
    <v-btn
      v-for="btn in btnsAuth"
      flat
      :to="btn.to"
    >{{ btn.label }}</v-btn>
  </v-toolbar-items>

  <v-toolbar-items v-else>
    <v-btn
      flat
      @click="logout"
    >Exit</v-btn>
  </v-toolbar-items>

</v-toolbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppHeader',

  data: () => ({
    btnsAuth: [
      { to: { name: 'login' }, label: 'Log In' },
      { to: { name: 'sign-up' }, label: 'Sign Up' }
    ]
  }),

  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated'
    })
  },

  methods: {
    ...mapActions({
      logout: 'auth/logout',
      checkServer: 'auth/checkServer',
      removeFilters: 'blog/removeFilters'
    }),

    beforeGoHome() {
      this.removeFilters()
      this.$vueRouter.push({ name: 'blog' })
    }
  }
}
</script>

<style lang="scss" scoped>
.app-header {}
</style>
