<template>
<div
  class="blog-post-comments-list"
  v-if="comments"
>

  <BlogPostCommentCreate @create="createComment" />

  <span
    class="blog-post-comments-list__title"
    v-if="comments.length"
  >Comments: {{ commentsAndRepliesCount }}</span>

  <div
    class="blog-post-comments-list__content"
    v-for="comment in comments"
  >

    <BlogPostComment
      v-if="comment"
      :comment="comment"
      :user="user"
    />

    <BlogPostComment
      nested
      v-if="comment.replies.length"
      v-for="reply in comment.replies"
      :commentId="comment._id"
      :comment="reply"
      :user="user"
    />

  </div>

</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import BlogPostComment from '@/components/blog/BlogPostComment'
import BlogPostCommentCreate from '@/components/blog/BlogPostCommentCreate'

export default {
  name: 'BlogPostCommentsList',

  components: {
    BlogPostComment,
    BlogPostCommentCreate
  },

  props: {
    comments: {
      type: Array,
      default: null
    }
  },

  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),

    commentsAndRepliesCount() {
      return this.comments.reduce((sum, comment) => (
        sum += comment.replies.length
      ), this.comments.length)
    }
  },

  methods: {
    ...mapActions({
      createComment: 'comment/createComment'
    })
  }
}
</script>

<style lang="scss" scoped>
.blog-post-comments-list {
    max-width: 740px;
    width: 100%;

    margin: 0 auto;

    &__title {
        width: 100%;

        font-size: 1.25rem;
    }
}
</style>
