<template>
<div
  :class="`blog-post ${big ? 'blog-post--big' : '' }`"
  v-if="post"
>

  <div
    class="blog-post__image"
    :style="`background-image: url(${post.image})`"
  />

  <div
    class="blog-post__icons"
    v-if="user && user._id === post.author._id"
  >
    <v-btn-toggle>
      <v-btn :to="{ name: 'post-pattern', params: { id: post._id } }">
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn @click="beforeDeletePost(post._id)">
        <v-icon>delete</v-icon>
      </v-btn>
    </v-btn-toggle>
  </div>

  <div class="blog-post__content">

    <router-link
      class="blog-post__title"
      :to="{ name: 'post', params: { id: post._id } }"
      tag="h2"
    >
      <span>{{ post.title }}</span>
    </router-link>

    <div class="blog-post__author">
      <span>By
        <a
          class=""
          @click="saveFilters({ user: post.author._id })"
        >{{ post.author.email }}</a>
        on {{ post.updatedAt.split('T')[0] }}
      </span>
    </div>

    <div class="blog-post__teaser droid">
      <p>{{ post.content.slice(0, 255) }}</p>
    </div>

    <router-link
      class="blog-post__read-more"
      :to="{ name: 'post', params: { id: post._id } }"
      v-if="!big"
    >Read more...</router-link>

  </div>

</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'BlogPost',

  props: {
    post: {
      type: Object,
      default: null,
      required: true
    },

    big: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      user: 'auth/user',
    })
  },

  methods: {
    ...mapActions({
      deletePost: 'blog/deletePost',
      saveFilters: 'blog/saveFilters'
    }),

    beforeDeletePost(id) {
      // const result = confirm(`Delele post "${this.post.title}" ?`)
      // if (result) this.deletePost(id)

      this.deletePost(id)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../partials/global';

.blog-post {

    a {
        font-style: italic;
        color: $color-primary;
        text-decoration: none;
    }

    position: relative;

    width: 100%;

    background-color: $color-light;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);

    transition: 0.2s;

    &:hover {
        transition: 0.2s;
        box-shadow: 0 10px 15px rgba(0,0,0,.06);
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &--big {
        background-color: transparent;

        box-shadow: none;
        border: none;

        &:hover {
            box-shadow: none;
        }

        .blog-post {

            &__image {
                height: 500px;
                max-width: 1024px;

                margin: 1rem auto 0;

                border-radius: 0;

                @media (max-width: 1024px) {
                    height: 370px;
                    max-width: 740px;
                }

                @media (max-width: 740px) {
                    height: 270px;
                    max-width: 640px;
                }

                @media (max-width: 540px) {
                    height: 200px;
                    max-width: 540px;
                }
            }

            &__content {
                max-width: 740px;
                width: 100%;

                margin: 0 auto;
            }
        }
    }

    &__image {
        height: 250px;
        width: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 3px 3px 0 0;

        transition: 0.2s;
    }

    &__icons {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__content {
        padding: 1.5rem;
    }

    &__title {
        font-weight: 500;
        font-size: 2rem;
        text-transform: capitalize;

        cursor: pointer;
    }

    &__author {
        margin: 1rem 0;

        display: flex;
        align-items: center;

        font-size: 1.15rem;
        color: $color-secondary;

        i {
            margin-right: 0.25rem;

            font-size: 2rem;
        }

    }

    &__teaser {
        font-weight: 400;
        font-size: 1.5rem;
        word-wrap: break-word;
    }

    &__read-more {
        font-size: 1.15rem;
    }
}
</style>
