<template>
<div
  :class="['blog-post-comment', { 'blog-post-comment__nested': nested }]"
  v-if="comment"
>

  <header class="blog-post-comment__header">
    <span>By
      <a>{{ comment.author.email }}</a>
      <span
        class=""
        v-if="comment.updatedAt"
      > on {{ comment.updatedAt.split('T')[0] }}</span>
    </span>

    <div
      class="blog-post-comment__icons"
      v-if="user && user._id === comment.author._id"
    >
      <v-btn-toggle>
        <v-btn @click="isEditMode = !isEditMode">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn @click="handleDelete(comment._id)">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-btn-toggle>
    </div>
  </header>

  <div
    class="blog-post-comment__edit"
    v-if="isEditMode"
  >
    <v-textarea
      v-model="content"
      label="Content"
      auto-grow
      rows="1"
      required
    />

    <v-btn
      class="ma-0 pa-0"
      color="success"
      small
      @click="handleUpdate(comment._id, content)"
    >
      Save changes<v-icon right>save</v-icon>
    </v-btn>
  </div>

  <div
    class="blog-post-comment__content"
    v-else
  >
    <span>{{ comment.content }}</span>
  </div>

  <footer
    class="blog-post-comment__reply"
    v-if="!nested"
    @click="isCreateReply = true"
  >
    <span>reply</span>
  </footer>

  <BlogPostCommentCreate
    v-if="isCreateReply"
    @cancel="isCreateReply = false"
    @create="createReply"
  />

</div>
</template>

<script>
import { mapActions } from 'vuex'

import BlogPostCommentCreate from '@/components/blog/BlogPostCommentCreate'

export default {
  name: 'BlogPostComment',

  components: {
    BlogPostCommentCreate
  },

  props: {
    comment: {
      type: Object,
      default: null
    },
    user: {
      type: Object,
      default: null
    },
    nested: {
      type: Boolean,
      default: false
    },
    commentId: {
      type: String,
      default: null
    }
  },

  data: () => ({
    isCreateReply: false,
    isEditMode: false,
    content: null
  }),

  created() {
    this.content = this.comment.content
  },

  methods: {
    ...mapActions({
      deleteComment: 'comment/deleteComment',
      updateComment: 'comment/updateComment'
    }),

    createReply(content) {

      const { _id, email } = this.user

      this.updateComment({
        id: this.comment._id,
        reply: { content, author: { _id, email } }
      })

    },

    handleDelete(deleteId) {

      if (this.nested)
        this.updateComment({ id: this.commentId, deleteId })
      else
        this.deleteComment(this.comment._id)

    },

    handleUpdate(updateId, content) {

      if (this.nested)
        this.updateComment({ id: this.commentId, updateId, content })
      else
        this.updateComment({ id: this.comment._id, content })

    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../partials/global';

.blog-post-comment {

    &__nested {
        width: 96%;

        margin: 0.5rem 0 0 auto;
    }

    a {
        font-style: italic;
        color: $color-primary;
        text-decoration: none;
    }

    padding: 1rem;
    margin-top: 1rem;

    text-align: left;

    background-color: $color-light;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);

    &__header {
        margin-bottom: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        color: $color-secondary;
    }

    &__author {
        margin: 1rem 0;

        display: flex;
        align-items: center;

        font-size: 1.15rem;
        color: $color-secondary;
    }

    &__content {
        padding-left: 1rem;
    }

    &__reply {
        margin: 1rem 0 0 1rem;

        span {
            font-style: italic;
            text-transform: capitalize;

            cursor: pointer;

            &:hover {
                color: $color-gray;
            }
        }
    }

}
</style>
