<template>
<div class="blog-post-comment-create">

  <v-textarea
    required
    auto-grow
    clear-icon
    rows="1"
    counter="255"
    placeholder="Add a public comment..."
    v-model="content"
    @click="isShowButtons = true"
  />

  <div
    class="blog-post-comment-create__btn-group"
    v-if="isShowButtons"
  >
    <v-btn @click="handleCancel">
      Cancel
    </v-btn>
    <v-btn
      color="success"
      @click="$emit('create', content)"
    >
      Comment
    </v-btn>
  </div>

</div>
</template>

<script>
export default {
  name: 'BlogPostCommentCreate',

  data: () => ({
    content: null,
    isShowButtons: false
  }),

  methods: {
    handleCancel() {
      this.$emit('cancel')
      this.isShowButtons = false
    }
  }
}
</script>

<style lang="scss" scoped>
.blog-post-comment-create {

    &__btn-group {
        display: flex;
        justify-content: flex-end;
    }
}
</style>
