<template>
<div class="blog-post-filters">

  <v-switch
    label="Show new posts first"
    v-model="recent"
    @change="saveFilters({ recent })"
  />

  <v-text-field
    type="text"
    label="Search"
    placeholder="Search by keyword"
    prepend-icon="search"
    v-model="keyword"
    @input="saveFilters({ keyword })"
  />

</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'BlogPostFilters',

  data: () => ({
    recent: true,
    keyword: ''
  }),

  watch: {
    'filters.recent'(recent) { this.recent = recent },
    'filters.keyword'(keyword) { this.keyword = keyword }
  },

  computed: {
    ...mapGetters({
      filters: 'blog/filters'
    })
  },

  created() {
    const router = this.$vueRouter.history.current
    const { query } = router

    if (query.recent) this.recent = query.recent
    if (query.keyword) this.keyword = query.keyword
  },

  methods: {
    ...mapActions({
      saveFilters: 'blog/saveFilters'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '../../partials/global';

.blog-post-filters {}
</style>
