<template>
<v-container
  class="the-grid"
  v-if="user"
>

  <template v-if="!user.active && isShowEmailVerify">
    <v-layout>
      <v-flex class="title text-xs-center font-weight-light font-italic">
        <a @click="beforeSendVerifyEmail">Send verification email again to:
          <span class="font-weight-regular">{{ user.email }}</span>
        </a>
      </v-flex>
    </v-layout>

    <br>
    <hr>
    <br>
  </template>

  <v-layout>

    <v-flex class="display-1 font-weight-light font-italic">
      <p class="display-2">Hello, </p>
      <p>You are:
        <span class="font-weight-regular">{{ user.role }}</span>
      </p>
      <p>{{ user.email }}</p>
      <p>Is account verificated by email:
        <span :class="`font-weight-regular ${user.active ? 'success' : 'error'}--text`">{{ user.active }}</span>
      </p>
    </v-flex>

  </v-layout>

</v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TheGrid',

  data: () => ({
    isShowEmailVerify: true
  }),

  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },

  methods: {
    ...mapActions({
      sendVerifyEmail: 'auth/sendVerifyEmail'
    }),

    beforeSendVerifyEmail() {
      this.isShowEmailVerify = false
      this.sendVerifyEmail()
    }
  }
}
</script>

<style lang="scss" scoped>
.the-grid {}
</style>
