@mixin line($count) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin placeholder() {
  font-size: 17px;
  // line-height: $search-form-item-height;
  line-height: 100%;
  color: $color-placeholder;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
}

@mixin d-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow($color: rgba(0, 0, 0, 0.1)) {
  // box-shadow: 0 2px 12px 0 $color;
  // box-shadow: 2.5px 4.33px 18px rgba(0,0,2,0.13);
  box-shadow: 2.5px 4.33px 18px rgba(0, 0, 2, 0.13);
}

@mixin formSearchShadow() {
  box-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.31);
}

@mixin formSearchInner() {
  height: $search-form-item-height;
  width: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;

  font-size: 0.95em;

  background-color: $color-light;
  border: 1px solid #898989;

  outline: none;
  border-radius: 5px;

  transition: all 0.2s;

  @include shadow;

  &:hover,
  &:focus {
    border-color: $color-modificator-2;
    outline: none;
  }
}

@mixin formSearchInput() {
  width: 100%;
  // height: 100%;

  text-transform: capitalize;

  font-size: 1em;
  padding: 1em auto;
  color: $color-modificator;
  // line-height: $search-form-item-height;

  border-radius: 3px;
  border: none;
  outline: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &::placeholder {
    @include placeholder;

    line-height: 1.45;
  }
}

@mixin formSearchDatePicker() {
  @include formSearchInner();

  padding: 0 10px !important;
  margin-right: 1rem;

  color: $color-modificator;

  &::placeholder {
    @include placeholder;
  }
}

@mixin formSearchDatePickerInput {
  &__inner {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include formSearchInner;

    cursor: pointer;
  }

  &__placeholder {
    @include placeholder;
  }

  &__date {
    color: $color-modificator;
  }

  &__icon {
    // position: absolute;
    // top: 50%;
    // right: 0;

    line-height: 1;
    font-size: 1rem;
    color: $color-placeholder;
    font-weight: 500;

    transition: 0.3s;
    transform: rotate(180deg);

    &--down {
      // translateX(-50%)
      transform: rotate(0);
    }
  }
}

// Admin
@mixin adminBlockStyle {
  padding: 0.5rem;

  // border: 1px solid $color-shadow;
  border-radius: 5px;
}

@mixin adminContentStyle {
  &__title {
    width: 100%;

    line-height: 1;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
  }
}

// Profile
@mixin outline($color: $color-modificator-4) {
  box-shadow: inset 0 0 0 1px $color;
  border: 1px solid $color;
  outline: 1px solid $color;
}

@mixin inputProfile() {
  // width: 250px;
  width: 100%;
  height: $height-input-profile;

  padding: 0.5rem 0 0.5rem 0.5rem;

  display: block;

  background-color: $color-pre-light;

  border: 1px solid $color-profile-border;
  border-radius: 3px;

  &::placeholder {
    line-height: normal;
    font-size: 0.9rem;
  }
}

@mixin inputProfileIcon() {
  position: absolute;
  top: 50%;
  right: 0;

  height: calc(100% - 2px);

  padding: 0 0.5rem;
  margin-right: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-pre-light;

  border-radius: 3px;

  cursor: pointer;
  transform: translateY(-50%);
}

@mixin inputListProfile() {
  position: absolute;

  width: 100%;
  max-height: 280px;

  margin: 0;
  padding: 0;

  background: $color-pre-light;
  list-style: none;

  border: 1px solid $color-profile-border;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  z-index: 1;
  overflow: auto;
}

@mixin inputListItemProfile() {
  padding: 0.5rem;
  display: block;

  font-size: 1rem;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(:first-child) {
    border-top: 1px solid $color-profile-border;
  }

  &:hover {
    background-color: $color-light;
  }
}

//Faq
@mixin faq-menu-item() {
  display: flex;
  align-items: center;
  height: 3.7rem;
  padding: 0 1rem;

  background-color: #fff;

  cursor: pointer;
  transition: all 0.2s;
}

@mixin faq-menu-item-active() {
  background-color: #cff5ff;
  color: #217ec0;
}
