// Colors
$color-primary: #409eff;
// $color-primary: #00ab6b;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #dc3545;
$color-gray: #bdbdbd;

$color-green: #00ab6b;
$color-red: #d30561;

$color-light: rgb(255, 255, 255);
$color-dark: rgb(33, 33, 33);

$color-secondary: rgba(153, 153, 153, 1);
